@{
    ViewBag.Title = "Home Page";
}

<h2>Prueba de conexión a la Base de Datos</h2>

<ul>
    <li>Total de tiendas: <strong>@ViewBag.TotalTiendas</strong></li>
    <li>Total de paquetes: <strong>@ViewBag.TotalPaquetes</strong></li>
    <li>Total de rutas: <strong>@ViewBag.TotalRutas</strong></li>
</ul>
